html {
    box-sizing: border-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body {
    font-family: 'Anton', sans-serif;
    font-family: 'Antonio', sans-serif;
    font-family: 'Open Sans', sans-serif;
}
